@import "variables.less";
#field-container{
	.field_preview{
		#field_map{
			height:160px;
		}
	}
	.field_asset_data,
	.field_asset_data .col-xs-9{
		  position: absolute;
		  left: 25%;
		  height: 100%;
		  
		  .col-xs-3,
		  .col-xs-3 ul{
			  position: absolute;
			  height: 100%;
			  
			  ul{
				  width:100%;
			  }
		  }
		  
		  .col-xs-9{
			  .tab-content{
				 position: absolute;
				  width: 100%;
				  height: 100%; 
			  }
			 #finances{
				 position:relative;
				 
				 .doughnut{
					width:75% !important; 
					position:absolute;
					height:100% !important;
				 }
			 }
			 .legend{
				width:25%; 
				top:0;
				position:absolute;
				height:100%;
				left:75%;
				
				ul{
					padding:0;
					
					li{
						list-style:none;
						
						&.active{
							color:@white;
						}
						
						span{
							  width: 20px;
							  height: 20px;
							  display: inline-block;
							  vertical-align: middle;
							  margin-right: 5px;
						}
					}
				}
			 }
		  }
	}
	.field_weather_data{
		position:relative;
		
		.col-xs-9{
			position:absolute;
			height:100%;
			left:25%;
		}
		.col-xs-3{
			position:absolute;
			height:100%;
			
			ul{
				position: absolute;
				width: 100%;
				height: 100%;
				padding-left:15px;
			}
		}
		.tab-content{
			.weatherEvents{
				height:15px;
				display:block;
				position:relative;
				
				.event{
					width:16px;
					height:13px;
					position:absolute;
					left:40px;
					background-color:rgba(0,0,0,.35);
					color:#fff;
					padding:2px;
					text-align:center;
					
					&:hover{
						background-color:rgba(0,0,0,.85);
					}
					
					i{
						font-size:11px;
						display:block;
					}
				}
				
				&.temp{
					background-color:@brand-soft-cream;
				}
				&.precip{
					background-color:#23abe9;
				}
				&.wind{
					background-color:#77bc7d;
				}
			}
		}
	}
	
	.tab-pane{
		width:100%;
		height:100%;
		display:none;
		
		&.active{
			display:flex;	
		}
	}
	table.table.tab-pane.active{
		display:block;
	}
	
	.activitiesTimeline{
		.activities{
			height:33px;
			display:block;
			background-color:#a2a795;
			position:relative;
			
			.activity{
				width:30px;
				height:28px;
				top:2px;
				position:absolute;
				left:40px;
				background-color:@white;
			}
		}
	}
}

body.map{
	#field-container{
		z-index: 100;
		width: 100%;
		height: 100%;
		background-color:@white;
	}
}
