@import "variables.less";
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
.mbn{
	margin-bottom:0 !important;
}
.mtn{
	margin-top:0 !important;
}
.mts{
	margin-top:@small !important;
}
.mtm{
	margin-top:@medium !important;
}
.mls{
	margin-left:@small !important;
}
.mbs{
	margin-bottom:@small !important;
}
.mts{
	margin-top:@small !important;
}
.mrs{
	margin-right:@small !important;	
}
.mrm{
	margin-right:@medium !important;	
}
.mlm{
	margin-left:@medium !important;	
}
.pln{
	padding-left:0 !important;
}
.prn{
	padding-right:0 !important;
}
.pls{
	padding-left:10px !important;
}
.prs{
	padding-right:10px !important;
}
.ptn{
	padding-top:0 !important;
}
.pbn{
	padding-bottom:0 !important;
}
.w100{
	width:100% !important;
}
.overflowFix{
	overflow:auto !important;
}
.vertical-scroll{
	overflow-y:auto;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
  z-index:10001;
  
  .container-fluid{
		padding:5px;
		
		p{
			margin:0;
		}
  }
}
body.map footer.footer,
body.plans footer.footer{
	position:relative;
	bottom:0;
}
.fitTable{
	word-wrap: break-word;
	table-layout:fixed;
}
.truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:inline-block;
	
	&.truncate-50{
		width: 50px;
	}
	&.truncate-80{
		width: 80px;
	}
	&.truncate-150{
		width: 150px;
	}
	&.truncate-250{
		width: 250px;
	}
}

.modal.equipment .equipmentObservationHeaders{
	display:none;
}
.modal.equipment.MOVEABLE .equipmentObservationHeaders.MOVEABLE,
.modal.equipment.WELL .equipmentObservationHeaders.WELL,
.modal.equipment.SOIL_MOISTURE .equipmentObservationHeaders.SOIL_MOISTURE,
.modal.equipment.null .equipmentObservationHeaders.null
{
	display:block;
}

.modal .alert.confirmDelete{
	position:absolute;
	top:20%;
	width:50%;
	left:25%;
}
.editable-container.editable-inline{
	position:relative;
	z-index:1;
}
table{
	.editable-container.editable-inline{
		background-color:#fff;
	}
}