.filter_controls{
	.filter_loader{
		width:21px;
		height:24px;
		margin:10px 0;
		color:@brand-secondary;
		font-size:24px;
	}
}
	
#map-wrapper{
	position:relative;
	
	h1.filters_toggle{
		position:absolute;
		top:10px;
		right:10px;
		background-color:#fff;
	}
	
	#map-container{
		height:100%;
		position:absolute !important;
		top:0;
		bottom:0;
		left:0;
		right:0;
		z-index:2;
	}
}

#map_legend{
	background:#fff;
	padding:10px;
	
	.legend_item{
		margin-bottom:5px;
		list-style:none;
		text-transform:capitalize;
		
		&:last-of-type{
			margin-bottom:0;
		}
		
		.legend_swatch{
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right:5px;
		}
	}
}

#tt{
	position:absolute;
	z-index:1000;
	background-color:@white;
	padding:10px;
	max-width:200px;
}
.marker{
		transition: all 0.35s ease;
		-ms-transform-origin: bottom center; /* IE 9 */
		-webkit-transform-origin: bottom center; /* Chrome, Safari, Opera */
		transform-origin: bottom center;
		position:absolute;
		cursor:pointer;
		width:61.5px;
		height: 50px;
		top: -50px;
  		left: -30.75px;
		transform: scale(0);
	&.in{
		transform: scale(.7);
		
		&.hover{
			transform: scale(1);
			filter: contrast(2);
		}
	}
	i{
		pointer-events: none;
		position:absolute;
		cursor:pointer;
		width:20px;
		height: 20px;
		top:10px;
		left: 20px;
		color: #fff;
		font-size: 21px;
		line-height: .8;
	}
}