@import "variables.less";
html.plans,
body.plans{
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
	
	overflow-y:hidden;
	
	background:#e8eae0 url(../img/background-pattern.png) no-repeat 0 0;
	background-size:cover;
	
	*,
	*:before, 
	*:after
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.modal.add-plan{
		.plantationDateWrapper{
			display:none;
		}
		
		.replacementDateWrapper{
			display:block;
		}
		
		&.addPlan{
			.plantationDateWrapper{
				display:block;
			}
			
			.replacementDateWrapper{
				display:none;
			}
		}
		
		&.plantAndStart{
			.plantationDateWrapper,
			.replacementDateWrapper{
				display:block;
			}
		}
	}
}

#plans-container{
	.plans-inner{
		position:relative;
	}
	
	#filters-container{
		top:90px;
	}
	
	#plans-wrapper{
		overflow-x:hidden;
		
		h1.filters_toggle{
			position:absolute;
			top:10px;
			right:10px;
			background-color:#fff;
		}
		
		#plans-list{
			.field-row{
				&:hover{
					background-color:darken(@brand-primary, 10%) !important;
				}
				td{
					vertical-align:middle;
					font-size:16px;
					
					&.fieldPreview{
						padding:0;
						
						.popover{
							h3{
								color:@brand-primary;
							}
						}
						img{
							width:70px;
							height:70px;
							border-radius:4px;
							/*border:1px solid @white;*/
							margin:2px;
						}
					}
				}
			}
			tr:nth-of-type(odd):not(.field-row) {
				background-color: #f9f9f9;
			}
			.plan{
				td{
					vertical-align:middle;
					
					i.desc{
						color:@brand-primary;
						display:none;
					}
				}
				&:hover{
					td{
						i.desc{
							display:inline;
						}
					}
				}
				&.active{
					font-weight:bold;
				}
				.active{
					font-size:18px;
					padding:5px;
					border-radius:4px;
					background-color:@white;
					
					&.true{
						color:@brand-secondary;
						border:1px solid @brand-secondary;
						box-shadow: 0 0 4px 4px #ccc;
					}
					
					&.false{
						color:#ccc;
						border:1px solid #848484;
						box-shadow:inset 0 0 5px #ccc;
						
						&:hover{
							color:@brand-secondary;
							box-shadow:0 0 2px 2px #ccc;
						}
					}
				}
				
				&.last{
					border-bottom: 2px solid #006ba1;
				}
				
				td.status{
					color:@white;
					font-size:21px;
					
					i.loading{
						display:none;
					}
					
					.statusText{
						font-size:11px;
					}
				}
				&.IN_PROGRESS,
				&.SCHEDULED{
					td.status{
						background-color:@brand-secondary;
					}
				}
				
				&.CONFLICT{
					td.status{
						background-color:@brand-warning;
					}
				}
				&.UNSCHEDULED{
					td.status{
						background-color:#ebebeb;
						color:grey;
					}
				}
				&.FINISHED,
				&.REPLACED{
					td.status{
						background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2ZmZiI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPHJlY3QgeD0iMTAiIHk9IjEwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
						color:grey;
						
						i,
						.statusText{
							background-color:@white;
							padding:4px;
							border-radius:4px;
						}
					}
				}
				&.SCHEDULING{
					td.status{
						background-color:@brand-primary;
						
						i.loading{
							display:block;
						}
					}
				}
			}
			.spacer{
				td{
					background-color:@white;
					padding:0;
				}
			}
		}
	}
}